<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/06f1de0e-3bf9-4560-98b6-1ff4a0c6c74e/resourcegroups/Framingwebapp/providers/Microsoft.Web/sites/FarmApi20250129150938</ResourceId>
    <ResourceGroup>Framingwebapp</ResourceGroup>
    <ApiResourceId>/subscriptions/06f1de0e-3bf9-4560-98b6-1ff4a0c6c74e/resourceGroups/Framingwebapp/providers/Microsoft.ApiManagement/service/FarmApiapi/apis/FarmApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://farmapi20250129150938.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>83f7c0b4-fc00-4698-ba01-d0ec8250de7b</ProjectGuid>
    <MSDeployServiceURL>farmapi20250129150938.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>FarmApi20250129150938</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$FarmApi20250129150938</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>